
article{
    margin: 4% 3%;
    background-color: white;
    border:solid black 0.5px ;
}
footer {
height: 60px;
background-color: purple;
display: flex;
align-items: center;
justify-content: center;

}
header{
    background-color: purple;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    display: flex;
    background-color: blue;
    justify-content: space-between;
    min-height: 640px;
    text-align: center;
}
img{
    height: 225px;
    width: 225px;
    
}

article h2{
    margin: 0.5em;
   
}
article p{
    margin: 1em 4em 1em 4em;
}

@media (max-width:900px) {
    section{
        font-size: 0.75rem;
    }
   img{
       height: 30%;
       width: 80%;
   }

   .imgmath{
height: 30%;
width: 80%;
   }
}