header{
    background-color: green;
    height: 100px;
    margin: 0 40px 0 40px;
    display: flex;
}

footer{
    background-color: green;
    height: 100px;
    margin: 0 40px 0 40px;
}

.left{
    background-color: green;
    height: 750px;
    width: 25%;
    margin: 0 40px 0 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px 0 20px ;
}

.right{
    display: flex;
    justify-content: flex-end;
}

.one{
    background-color: green;
    height: 150px;
    width: 100%;
    
}
.two{
   width: 75%;
    display: flex;
    flex-wrap: wrap;
}

.div1{
    
    display: flex;
    margin: 40px 40px 40px 40px;
}

.left1{
    background-color: green;
    height: 400px;
    width: 31%; 
    margin: 40px 0 0 0;
}

.center1{
    background-color: green;
    height: 400px;
    width: 31%; 
    margin: 40px 40px 40px 40px;
}

.right1{
    background-color: green;
    height: 400px;
    width: 31%; 
    margin: 40px 0 0 0;
}

.left2{
    background-color: green;
    height: 400px;
    width: 31%; 
    margin: 40px 0 0 0;
}

.center2{
    background-color: green;
    height: 400px;
    width: 31%;
    margin: 40px 40px 40px 40px;
}

.right2{
    background-color: green;
    height: 400px;
    width: 31%;
    margin: 40px 0 0 0; 
}