body {
    background: #333;
    color: #fc0; 
   }
.vic{
    font-weight: bold;
    font-size: 18px;
    line-height: .3;
}
a.text {
    text-decoration: none;
    color: black;
}
a.text:hover{
    color:red;
}
.b_t{
    width: 370px;
    height: 200px;
}
.liv{
    font-weight: bold;
    font-size: 18px; 
}
.text-left{
text-align: left;
font-weight: bold;
font-size: 18px;
line-height: .3;
}
.text-right{
text-align: right;
font-weight: bold;
font-size: 18px;
line-height: .3;
}
.text-center{
text-align: center;
font-weight: bold;
font-size: 18px;
line-height: .3;
}
.cyrs{
    font-style:oblique;
}
.te{
    text-decoration:underline rgb(0, 204, 255)
}
.ul{
    list-style-type:disc;
}
.c-button {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
  }
  .c-button:hover {
    background: #1d49aa;
  }
  
  .c-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
  }
