.red{
position: absolute;
width: 463px;
height: 427px;
left: 476px;
top: 232px;

background: #FF0000;
border: 2px solid #555555;
box-sizing: border-box;
}

.plus{
position: absolute;
width: 234px;
height: 83px;
left: 597px;
top: 404px;

background: #FFFFFF;
border-radius: 10px;
}

.plus1{
position: absolute;
width: 234px;
height: 83px;
left: 600px;
top: 400px;

background: #FFFFFF;
border-radius: 10px;
transform: rotate(90deg);
}